<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>N0rR's blog</title>
    <link rel="stylesheet" href="/css/input.css">
    <link rel='stylesheet' href='/css/body-post.css' />
    <link rel='stylesheet' href='/css/header.css' />
    <link rel='stylesheet' href='/css/footer.css' />
    <link rel='stylesheet' href="/css/image-slider.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="/css/mediaquery.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style media="screen">
        input {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #87e7be;
        }
    </style>
  </head>
  <body>
    <header>
        <div id="profile">
            <div id="profile-icon"></div>
            <a href="/"><div id="profile-image"></div></a>
            <div id="profile-name">
                <a href="/admin/main"><p><i class="fa fa-lock" aria-hidden="true"></i></p></a>
            </div>
            <div id="profile-line"></div>
            <div id="profile-info">
                <a href="/admin/write"><p>포스트 작성</p></a>
                <a href="/admin/delete"><p>포스트 삭제</p></a>
                <a href="/admin/category"><p>카테고리 관리</p></a>
                <a href="/admin/uploaded"><p>파일 관리</p></a>
                <p>관리자 계정</p>
                <a href="/admin/logout"><p style="color:red">로그아웃</p></a>
            </div>
        </div>
    </header>
    <main>
        <section id="preview">
            <div class="post-image" style="background-image: url(/images/colors.png)"></div>
        </section>
        <section id="contents">
            <div class="post" style="text-align: center">
                <div class="post-info">
                    <form action="/admin/delete" method="post">
                        <h1>게시글 검색</h1>
                        <input type="text" name="title" placeholder="전체검색">
                        <input class="button" style="color:white;background-color:#87e7be" type="submit" name="submit" value="검색">
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p id="copyright">2017 ⓒ norr.kr all rights reserved.</p>
    </footer>
  </body>
</html>
